@page "/detallesUsuario/{Id}"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using ZeniStudioWebBlazor.Interfaz
@using ZeniStudioWebBlazor.Servicios
@inject UsuarioService UsuarioService 
@inject NavigationManager nav
@attribute [Authorize]

<h3>Editar Usuario</h3>
<EditForm Model ="@usuario">
    <table class="table">
        
        <tr>
            <td>Nombre:: @usuario.UserName</td>
        </tr>
        <tr>
            <td>Contraseña:</td>
            <td><input type="text" @bind="usuario.PasswordHash"/> </td>
        </tr>
        <tr>
            <td>Teléfono:</td>
            <td><input type="text" @bind="usuario.PhoneNumber"/> </td>
        </tr>
     
        <tr>
            <td colspan="2" style ="text-align:center">
                <input type="submit" value="Save" @onclick="SaveUsuarios" />
                <a class ="btn" href="/PerfilUser" />

            </td>
        </tr>

    </table>
</EditForm>

@if (guardado)
{
    <div class="alert alert-success">
        Guardado!
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; } = "";

    public bool guardado = false;

    IdentityUser? usuario = null;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        guardado = false;
        if (Id != "")
            usuario = await UsuarioService.GetUsuarioPorId(Id);

    }
    protected async Task SaveUsuarios()
    {
        if (usuario is null)
            return;

        await UsuarioService.Guardar(usuario);

        usuario.PasswordHash = "";
        guardado = true;
    }
    
}
