@page "/detallesUsuario/{Id}"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using ZeniStudioWebBlazor.Interfaz
@using ZeniStudioWebBlazor.Servicios
@inject UsuarioService UsuarioService 
@attribute [Authorize]

<h3>Perfil Usuario</h3>
<EditForm Model ="@usuario">
    <table class="table">
        <tr>
            <td>Nombre:</td>
            <td><input type="text" @bind="usuario.PasswordHash"/> </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" @bind="usuario.PhoneNumber"/> </td>
        </tr>
     
        <tr>
            <td colspan="2" style ="text-align:center">
                <input type="submit" value="Save" @onclick="SaveUsuarios" />
                <a class ="btn" href="/PerfilUser" />

            </td>
        </tr>

    </table>
</EditForm>
@code {

    [Parameter]
    public int Id{ get; set; }

    IdentityUser usuario = new ();
    protected override Task OnInitializedAsync()
    {


        return base.OnInitializedAsync();
    }

    protected void CancelUser ()
    {

    }
    protected async Task SaveUsuarios()
    {
       // await UsuarioService.CrearUsuario(usuario);
    }
    
}
