@page "/EditProyect/{CodigoProyecto}"
@using Microsoft.AspNetCore.Authorization
@using ZeniStudioWebBlazor.Data
@using ZeniStudioWebBlazor.Servicios

@attribute [Authorize]
@inject ProyectService proyecserv
@inject NavigationManager navegate
@if (!cargado) {
    <h2>Cargando</h2>
}


<table class="table">

    <tr>
        <td>Código: @proyecto.CodigoProyecto</td>
    </tr>
    <tr>
        <td>Nombre:</td>
        <td><input type="text" @bind="proyecto.nombre" /> </td>
    </tr>
    <tr>
        <td>Categoría: </td>
        <td><input type="text" @bind="proyecto.idCategoria" /> </td>
    </tr>
    <tr>
        <td>Cliente</td>
        <td><input type="text" @bind="proyecto.idCliente" /> </td>
    </tr>
    <tr>
        <td>Estado:</td>
        <td><input type="text" @bind="proyecto.idEstado" /> </td>
    </tr>
    <tr>
        <td>Prioridad:</td>
        <td><input type="text" @bind="proyecto.prioridad" /> </td>
    </tr>
    <tr>
        <td>Fecha Creación:</td>
        <td><input type="text" @bind="proyecto.fechaCreacion" /> </td>
    </tr>
    <tr>
        <td>Fecha Inicio:</td>
        <td><input type="text" @bind="proyecto.fechaInicio" /> </td>
    </tr>
    <tr>
        <td>Fecha Fin:</td>
        <td><input type="text" @bind="proyecto.fechaFin" /> </td>
    </tr>
    <tr>
        <td>Razón de Cancelación:</td>
        <td><input type="text" @bind="proyecto.razonCancelacion" /> </td>
    </tr>

    <tr>
        <td colspan="2" style="text-align:center">
            <input type="submit" value="Save" @onclick="SaveProyect" />
            <a class="btn" href="/" />

        </td>
    </tr>

</table>


<div>
    <a asp-page="./Index">Back to List</a>
</div>


@code {


    public bool guardado = false;
    public bool cargado = false;

    Proyect proyecto = new();
    [Parameter]
    public string CodigoProyecto{ get; set; }
    protected override async Task OnInitializedAsync()
    {
        cargado = false;
        await base.OnInitializedAsync();
        proyecto = await proyecserv.GetProyecto(CodigoProyecto);
        cargado = true;
    }

    protected async Task SaveProyect()
    {
        if (proyecto is null)
            return;

       // await proyecserv.SaveProyecto();

       
        guardado = true;
        
    }
}
